/*.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
  */
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 3rem;
}

header h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
}

.nav-bars {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-bars a {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.nav-bars a:hover {
  color: gray;
  text-decoration: underline;
}

.nav-bars input[type="text"] {
  width: 15rem;
  height: 2.7rem;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  padding-left: 10px;
}

.main-section {
  background-color: grey;
}

.hero-section h2 {
  margin: 0;
  padding-top: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 2rem;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}

.search-button {
  width: 6rem;
  height: 2.7rem;
  font-family: "Roboto", sans-serif;
}

.search-group {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.movie-card {
  width: 150px;
}

.poster {
  width: 100%;
  display: block;
}

#popular-movies {
  display: grid;
  margin-top: 1rem;
  justify-content: center;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
  gap: 2rem;
}